section{
	display: flex;
	flex-wrap: wrap;
    font-weight: 300;
    flex-direction: column;
    background-color: white;
    margin:auto;
}

@media (min-width: 320px){
	 section{
		width: 320px;
		text-align: center;
		z-index: 999;
	 }
	 section h2{
	 	font-style: normal;

	 }
	 section h4{
	 	text-align: center;
	 	font-weight: 700;
	 	margin:0;
	 }
	 section span{
	 	display: inline-block;
	 	width: 270px;
	 }
	 .item1{
	 	margin-top: 50px;
	 	position: relative;
	 	width: 100%;
	 }
	 .desk_promo{
	 	display: none;
	 }
	 
	 .item1,
	 .item2,
	 .item3{
	 	background-color: rgba(242,242,242);
	 	z-index: 30;
	 	overflow: hidden;
	 	line-height: 2em;
	 }
	 .item1 h4,
	 .item2 h4,
	 .item3 h4{
	 	font-weight: 700;
	 	margin-bottom: 10px;
	 	margin-top: 10px;
	 }
	 .mobile{
	 	margin-top: 30px;
	 	margin-bottom: -50px;
	 	z-index: 0;
	 	width: 157px;
	 	height: 320px;
	 }
	 .background{
	 	width: 0;
	 	height: 0;
	 	border-left: 320px solid transparent;
	    border-right: 0px solid transparent;
	    border-bottom: 40px solid rgba(242,242,242);
	    margin-bottom: -50px;
	 }
	 .tablet{
	 	display: none;
	 }

	 .table-desk{
	 	display: none;
	 }
	 .effect{
	 	display: none;
	 }
	 .coma{
	 	display: none;
	 }

	 input[name="radio"],
	 input[name="tarif"]{
	 	display: none;
	 }
	 input[name="radio"]+label{
	     position: relative;
	     display: inline-block;
	     width: 8px;
	     height: 8px;
	     border-radius: 50%;
	     background-color: grey;
	     border: 3px solid white;
	     text-align: center;
	     cursor: pointer;
	     margin-top: 30px;
	     margin-bottom: 30px;
	     z-index: 100;
	     margin-right: 7px;
	     transition-property: border; 
	     transition-property: background;
	     transition-duration: 0.2s; 
	}
	input[name="tarif"]+label{
		position: relative;
	     display: inline-block;
	     width: 8px;
	     height: 8px;
	     border-radius: 50%;
	     background-color: grey;
	     border: 3px solid rgba(242,242,242);
	     text-align: center;
	     cursor: pointer;
	     margin-top: 30px;
	     margin-bottom: 30px;
	     z-index: 100;
	     margin-right: 7px;
	     transition-property: border; 
	     transition-property: background;
	     transition-duration: 0.2s; 
	}
	input[name="radio"]+label:hover,
	input[name="tarif"]+label:hover{
	    background: white;
	    border: 3px solid black;
	}
	input[name="radio"]:checked+label,
	input[name="tarif"]:checked+label{
	    background: none;
	    border: 3px solid black;
	}
	.table{
		background-color: rgba(242,242,242);
		overflow: auto;
	}
	table{
		border-collapse: collapse;
		margin-top: 40px;
		margin-left: 30px;
		font-size: 1.3rem;
		width: 840px;

	}
	td{
		position: relative;
		background-color: white;
		border: 1px solid grey;
		width: 280px;
		height: 60px;
		text-align: left;
	}
	tr td:first-child{
		display: none;
	}

	th{
		background-color: rgb(40,54,69);
		border: 1px solid grey;
		border-radius: 3px;
		font-weight: 700;
		width: 280px;
		height: 100px;
		color: white;
		
	}
	th i{
		font-style: normal;
		font-weight: 400;
	}
	th:first-child{
		display: none;
	}
	b{
		padding-left: 10px;
	}
	.HIT{
		position: relative;

	}
	.HIT:after{
		content: "ХИТ";
		font-size: 1.2rem;
		position: absolute;
		border-bottom: 30px solid rgb(210,40,86);
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		height: 0;
		width: 40px;
		transform: rotate(-45deg);
		top: 0;
		left: 0;
		margin-left: -26px;
		margin-top: 9px;
		z-index: 200;
	}

	.yes:before{
		content: " ";
		position: absolute;
		width: 4px;
		height: 15px;
		top: 25px;
		right: 35px;
		border-radius: 5px;
		background-color: rgb(116,214,121);
		transform: rotate(-45deg);
	}
	.yes:after{
		content: " ";
		position: absolute;
		width: 4px;
		height: 30px;
		top: 13px;
		right: 21px;
		border-radius: 5px;
		background-color: rgb(116,214,121);
		transform: rotate(45deg);
	}
	.no:before{
		content: " ";
		position: absolute;
		width: 3px;
		height: 30px;
		top: 15px;
		right: 27px;
		background-color: rgb(243,102,52);
		transform: rotate(-45deg);
	}
	.no:after{
		content: " ";
		position: absolute;
		width: 3px;
		height: 30px;
		top: 15px;
		right: 27px;
		background-color: rgb(243,102,52);
		transform: rotate(45deg);
	}
	.transform1{
		transform: translateX(0);
	}
	.transform2{
		transform: translateX(-35%);
	}
	.transform3{
		transform: translateX(-70%);
	}
	.butnew{
		width:100px;
		height:50px;
	}
}

@media (min-width: 660px){
	 section{
		width: 660px;
		text-align: center;
		z-index: 999;
		position: relative;
	 }
	 section > h2 > br{
	 	display: none;
	 }
	 section > h2{
	 	width: 80%;
	 	margin-left: auto;
	 	margin-right: auto;
	 }
	 .background{
	 	width: 0;
	 	height: 0;
	 	border-left: 660px solid transparent;
	    border-right: 0px solid transparent;
	    border-bottom: 40px solid rgba(242,242,242); ;
	    margin-bottom: -50px;
	 }
	.mobile{
		display: none;
	}
	.mobi{
		display: none;
	}
	.item{
		position: relative;
	 	
	}
	.desk_promo{
	 	display: none;
	 }
	.item1,
	.item2,
	.item3{
		z-index: 2;
		background-color: rgba(242,242,242);
	 }
	.item1 h4,
	.item2 h4,
	.item3 h4{
		text-align: left;
	}
	 .item1 span,
	.item2 span,
	.item3 span{
		text-align: left;
		padding-left: 310px;
	}
	.item3{
		padding-bottom: 10px;
		z-index: 100;
	}
	.tablet{
		display: inline-block;
		position: absolute;
		width: 270px;
		top: 20px;
		left: 20px;
		z-index: 80;
	}

	.effect{
		position: relative;
		display: inline-block;
		background-color: white;
		z-index: 1000;
		width: 100%;

	}
	.effect img{
		float: left;
		margin-left: 20px;
		margin-top: 20px;

	}

	.effect span{
		text-align: left;
		margin-left: 25px;
		font-size: 1rem;

	}
	.effect a{
		text-align: left;
		text-decoration: none;
		color: rgb(210,40,86);
		border-bottom: 1px solid rgb(210,40,86);
	}
	.effect a:hover{
		color:black;
		border-bottom: 1px solid black;
		transition: all .2s ease;
	}
	.effect h2{
		font-weight: 700;
	}
	.table-desk{
		display: inline-block;
	}

	.response{
		z-index: 50;
	}
	.response span{
		margin-top: 20px;
		width: 90%;
		font-size: 1.2rem;
	}
	
	 .table{
		background-color: rgba(242,242,242);
	}
	.background2{
	 	width: 0;
	 	height: 0;
	 	border-left: 660px solid transparent;
	    border-right: 0px solid transparent;
	    border-bottom: 60px solid rgba(242,242,242); ;
	    margin-top: -50px;
	 }
	
	table{
		display: table;
		border-collapse: collapse;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		font-size: 1.2rem;
		width: 620px;
	}
	td{
		position: relative;
		background-color: white;
		border: 1px solid grey;
		width: 155px;
		height: 50px;
	}

	th{
		background-color: rgba(40,54,69);
		font-weight: 400;
		width: 155px;
		height: 80px;
		color: white;
	}
	th:first-child{
		display: table;
	}
	tr td:first-child{
		display: table-cell;
		line-height: 3.5rem;
		padding-left: 10px;
	}
	b{
		display: none;
	}
	th i{
		font-style: normal;
		font-weight: 500;
	}
	th:first-child{
		border:none;
		background-color: transparent;
	}
	.HIT{
		position: relative;

	}
	.HIT:after{
		content: "ХИТ";
		font-size: 1.2rem;
		position: absolute;
		border-bottom: 25px solid  rgb(210,40,86);
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		height: 0;
		width: 35px;
		transform: rotate(-45deg);
		top: 0;
		left: 5px;
		z-index: 200;
	}


	.yes:before{
		content: " ";
		position: absolute;
		margin: 0;
		width: 5px;
		height: 17px;
		background-color: rgb(116,214,121);
		transform: rotate(-45deg);
		top: 25px;
		right: 80px;
		border-radius: 5px;
	}
	.yes:after{
		content: " ";
		position: absolute;
		margin: 0;
		width: 5px;
		height: 40px;
		background-color: rgb(116,214,121);
		transform: rotate(45deg);
		top: 5px;
		right: 63px;
		border-radius: 5px;
	}
	.no:before{
		content: " ";
		position: absolute;
		width: 5px;
		height: 40px;
		background-color: rgb(243,102,52);
		transform: rotate(-45deg);
		top: 10px;
		right: 70px;
		border-radius: 5px;
	}
	.no:after{
		content: " ";
		position: absolute;
		width: 5px;
		height: 40px;
		background-color: rgb(243,102,52);
		transform: rotate(45deg);
		top: 10px;
		right: 70px;
		border-radius: 5px;
	}
	input[name="tarif"]+label{
		display: none;
	}

}

@media (min-width: 1200px){
	 section{
		width: 1200px;
		text-align: center;
		z-index: 999;
	 }
	 section > h2{
	 	font-size: 3rem;
	 	width: 70%;
	 	margin-left: auto;
	 	margin-right: auto;
	 	font-weight: 300;
	 }
	 
	.mobile{
		display: none;
	}
	.tablet{
		display: none;
	}
	.desk_promo{
	 	display: block;
	 }
	 .item{
	 	display: inline-block;
	 }
	.item1,
	.item2,
	.item3{
		width: 265px;
		text-align: center;
		background-color: transparent;
		margin-top: 40px;
		margin-bottom: auto;
	}
	.item1 img,
	.item2 img,
	.item3 img{
		padding-left: 70px;
		z-index: 50;
	}
	.item1 span,
	.item2 span,
	.item3 span{
		text-align: center;
		padding: 20px 30px;
		font-weight: 400;
    	font-style: normal;
    	font-size: 1.2rem;
    	z-index: 50;
	}
	.item1 h4,
	.item2 h4,
	.item3 h4{
		font-size: 1.6rem;
		font-weight: 800;
		text-align: center;
		padding: 10px 20px;
	}
	.item1{
		float: left;
		padding-left: 150px;
		padding-right: 50px;
	}
	.item2{
		float: left;
		padding-right: 55px;
	}
	.item3{
		float: right;
		padding-right: 150px;
	}
	
	.item:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 650px;
		background-color: rgba(242,242,242);
		top: 130px;
		left: 0;
		z-index: -10;
	}
	.item:after{
		content: "";
		position: absolute;
		top: 50px;
		left: 0;
	 	width: 0;
	 	height: 0;
	 	border-left: 1200px solid transparent;
	    border-right: 0px solid transparent;
	    border-bottom: 80px solid rgba(242,242,242);
	    z-index: -10;
	 }
	 .item1 span:before,
	 .item2 span:before,
	 .item3 span:before{
	 	display: block;
	 	content: "";
		position: absolute;
		width: 250px;
		height: 50px;
		margin-top: -70px;
		background-color: rgba(242,242,242);
		z-index: 100;
		border-top: 1px solid lightgrey;
		
	 }
	 .item2 span:before{
	 	margin-left: 5px;
	 }
	 .item3 span:before{
	 	margin-left: 10px;
	 }
	.background{
		display: none;
	}
	.effect{
	 	background-color: rgba(242,242,242);
	}
	.effect span a{
		display: inline-block;
		margin-top: 20px;
	}
	.effect span{
		width: 500px;
		text-align: left;
		margin-top: 20px;
		margin-left: -130px;
		padding-left: 0;

	}
	.effect img{
		width: 238px;
		height: 276px;
		float: left;
		margin-left: 200px;
		margin-bottom: 60px;
		/*border:1px solid red;*/
	}
	.response{
		text-align: center;
	}
	.response span{
		width: 800px;
		margin-bottom: 60px;
	}
	.coma{
	 	display: block;
	 	margin: 30px 30px;
	 	margin-left: auto;
	 	margin-right: auto;
	 }
	 .arrow1{
	 	position: relative;
	 	float: left;
	 	width: 40px;
	 	height: 75px;
	 	margin-top: 160px;
	 	margin-left: 110px;
	 	cursor: pointer;
	 }
	 .arrow2{
	 	position: relative;
	 	float: right;
	 	width: 40px;
	 	height: 75px;
	 	margin-top: 160px;
	 	margin-right: 110px;
		cursor: pointer;
	 }
	 .arrow1:before,
	 .arrow1:after{
	 	content: "";
		position: absolute;
		top: 0;
		left: 50%;
	 	width: 3px;
		height: 45px;
		border-radius: 3px;
		background-color: grey;
		transform: rotate(45deg);
	 }
	 .arrow1:after{
	 	transform: rotate(-45deg);
	 	margin-top: 30px;
	 }
	 .arrow2:before,
	 .arrow2:after{
	 	content: "";
		position: absolute;
		top: 0;
		right: 50%;
	 	width: 3px;
		height: 45px;
		border-radius: 3px;
		background-color: grey;
		transform: rotate(-45deg);
	 }
	 .arrow2:after{
	 	transform: rotate(45deg);
	 	margin-top: 30px;
	 }
	 input[name="radio"]+label{
		display: none;
	}
	.background2{
	 	width: 0;
	 	height: 0;
	 	border-left: 1200px solid transparent;
	    border-right: 0px solid transparent;
	    border-bottom: 80px solid rgba(242,242,242);
	    margin-top: -50px;
	 }
	 table{
	 	width: 960px;
	 }

	td{
		position: relative;
		background-color: white;
		border: 1px solid grey;
		width: 240px;
		height: 60px;
	}

	th{
		background-color: rgba(40,54,69);
		border: 1px solid grey;
		border-radius: 3px;
		font-weight: normal;
		width: 240px;
		height: 100px;
		color: white;
	}
	.HIT:after{
		content: "ХИТ";
		font-size: 1.2rem;
		position: absolute;
		border-bottom: 30px solid rgb(210,40,86);
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		height: 0;
		width: 35px;
		transform: rotate(-45deg);
		top: -2px;
		left: 2px;
		z-index: 200;
	}
	


	.yes:before{
		content: " ";
		position: absolute;
		margin: 0;
		width: 5px;
		height: 17px;
		background-color: rgb(116,214,121);
		transform: rotate(-45deg);
		top: 25px;
		right: 120px;
		border-radius: 5px;
	}
	.yes:after{
		content: " ";
		position: absolute;
		margin: 0;
		width: 5px;
		height: 40px;
		background-color: rgb(116,214,121);
		transform: rotate(45deg);
		top: 5px;
		right: 103px;
		border-radius: 5px;
	}
	.no:before{
		content: " ";
		position: absolute;
		width: 5px;
		height: 40px;
		background-color: rgb(243,102,52);
		transform: rotate(-45deg);
		top: 10px;
		right: 110px;
		border-radius: 5px;
	}
	.no:after{
		content: " ";
		position: absolute;
		width: 5px;
		height: 40px;
		background-color: rgb(243,102,52);
		transform: rotate(45deg);
		top: 10px;
		right: 110px;
		border-radius: 5px;
	}

}	 