.nav {
	display: flex;
	flex-wrap: wrap;
  font-weight: 400;
  flex-direction: column;
}
.main-nav{
	list-style: none;
  background-color: #283645;
  margin:auto;
}
.displaynone{
  display: none;
}
/*  a:hover{
  box-shadow: 0 0 2px Azure;
}*/


@media (min-width: 320px) {
  .main-nav{
    width: 280px;
    position: relative;
  }
  .main-nav div{
      background-color: #283645;
      margin-left: -40px;
      width: 320px;
      border-bottom: 2px solid black;
    }
  	.main-nav li{
      margin: 0;
  		padding-top: 10px;
      padding-bottom: 10px;
  		text-align: center;
      font-size: 1.5rem;
  	}
    .main-nav a{
      color: white;
    }
    .main-nav a:hover{
      filter: drop-shadow(0 0 5px azure);
      transition-property: filter;
      transition-duration: 0.2s;
      border-bottom: 2px solid white;
    }
  	.logo{
  		display: none;
  	}
    .logo--mobile{
      display: block;
      position: relative;
    }
    .logo--mobile picture{
      display: none;
      margin-left: 20px;
    }
    .logo--mobile li{
      text-align: left;
      margin-left: 10px;
    }
    .menu-hover{
      /*display: block;*/
    }
    input[type="checkbox"]{
      display: none;
    }

    .toggle-container{
      display: block;
      position: absolute;
      width: 30px;
      height: 25px;
      top: 18px;
      right: 12px;
      cursor: pointer;
      background: transparent;
    }

    .toggle-container div{
      height: 0px;
      width: 32px;
      display: block;
      border: 1.5px solid #fff;
      position: absolute;
      right: 3px;
      border-radius: 5px;
      transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    }
    .toggle-container:hover div{
      border: 1.5px solid rgb(210,40,86);
    }
    .toggle-container div:nth-child(1) {
      top: 0px;
    }
    .toggle-container div:nth-child(2) {
      top: 8px;
    }
    .toggle-container div:nth-child(3) {
      top: 16px;
    }
    input[type="checkbox"]:checked ~ .toggle-container div:nth-child(3){
      display: none;
    }
    input[type="checkbox"]:checked ~ .toggle-container div:nth-child(1){
      transform: rotate(45deg);
      right: 3px;
      top: 9px;
    }
    input[type="checkbox"]:checked ~ .toggle-container div:nth-child(2){
      transform: rotate(-45deg);
      top: 9px;
    }
    
    input[type="checkbox"]:checked .main-nav div:first-child{
      border-bottom: none;
    }
    /*input[type="checkbox"]:checked .main-nav div:first-child*/
    
    /*#toogle:checked ~ span{
      display: none;
    }*/

 /*div:first-child
 >.main-nav>*/
    .download{
      background: #253341;
      width: 320px;
      margin:auto;
    }

    .download h2{
      display: none;
    }
    .download a:nth-of-type(1):hover{
      filter: drop-shadow(0 0 10px azure);
      transition-property: filter;
      transition-duration: 0.2s;
    }
    .download a:nth-of-type(2):hover{
      filter: drop-shadow(0 0 10px DarkGreen);
      transition-property: filter;
      transition-duration: 0.2s;
    }
    .download a:nth-of-type(3):hover{
      filter: drop-shadow(0 0 10px rgb(210,40,86));
      transition-property: filter;
      transition-duration: 0.2s;
    }

    .download span{
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      color: white;
    }
    .download a{
      margin-left: 40px;
    }
    
    .wraper--logo{
      background-color: #283645;
    }
    .download button{
      width:280px;
      height: 55px;
      color: white;
      border:2px solid white;
      border-radius: 25px; 
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .download button:hover{
      color: rgb(210,40,86);
      background-color: white;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }
    .download button:hover{
      color: rgb(210,40,86);
      background-color: white;
      transition-property: all;
      transition-duration: 0.2s;
    }
    .download button:active{
      color: rgb(210,40,86);
      background-color: white;
      transition-duration: 0.2s;
      opacity: 0.3;
    }
  }

@media (min-width: 660px) {
  	.main-nav{
      width: 620px;
  	}
  	.main-nav div{
  		background-color: #283645;
      width: 660px;
      border-bottom: 2px solid black;
      border-top: 1px solid grey;
      
  	}
    .main-nav div:nth-child(1){
      border-top: none;
    }
    .main-nav li{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 1.5rem;
    }
    .logo--desk{
      display: none;
    }
    .main-nav a{
      color: white;
    }
    .main-nav a:hover{
      border-bottom: 2px solid white;
    }
  	.logo--mobile picture{
      display: flex;
      margin-left: 20px;
    }
    .download{
      width:660px;
    }
    .logo--mobile{
      padding-bottom:30px;
    }
    .logo--mobile li{
      display:none;
    }
    .logo--mobile picture{
      display: block;
      margin-top:25px;
    }
    .logo--mobile picture:hover{
      filter: drop-shadow(0 0 10px azure);
      transition-property: filter;
      transition-duration: 0.2s;
    }
    .phone{
      display: none;
    }
    /*#283645*/
    .download{
      background-image: url('../../img/iphone-6.png');
      background-repeat: no-repeat; 
      background-size: cover;
      background-position: center;
      overflow: hidden;
      min-height: 729px;
    }
    .download span{
      width: 320px;
    }
    .download h2{
      display: inline-block;
      color: white;
      font-weight: normal;
      width: 200px;
      text-align: center;
      margin-top: 100px;
      margin-left: 60px;
    }
    .download button{
      margin-left: 20px;
      margin-bottom: 40px;
    }
    .toggle-container{
      display: block;
      position: absolute;
      /*border: 1px solid red;*/
      width: 50px;
      height: 40px;
      /*top: 15px;*/
      right: 18px;
      cursor: pointer;
      background: transparent;
      
    }
    .toggle-container div{
      height:0;
      width: 40px;
      display: block;
      border: 2.5px solid #fff;
      position: absolute;
      /*right: 3px;*/
      border-radius: 3px;
      transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    }
    .toggle-container div:nth-child(1) {
      top: 0;
      border: 2.5px solid #fff;
    }
    .toggle-container div:nth-child(2) {
      top: 12px;
    }
    .toggle-container div:nth-child(3) {
      top: 24px;
    }
    input[type="checkbox"]:checked ~ .logo--mobile{
      background: red;
    }
    input[type="checkbox"]:checked ~ .toggle-container div:nth-child(3){
      display: none;
    }
    input[type="checkbox"]:checked ~ .toggle-container div:nth-child(1){
      transform: rotate(45deg);
      right: 3px;
      top: 9px;
    }
    input[type="checkbox"]:checked ~ .toggle-container div:nth-child(2){
      transform: rotate(-45deg);
      top: 9px;
    }
    
    input[type="checkbox"]:checked .main-nav div:first-child{
      border-bottom: none;
    }
  }
   

@media (min-width: 1200px) {
    .nav{
      width: 1200px;
      background-image: url('../../img/iphone-6.png');
      background-repeat: no-repeat; 
      background-size: auto;
      background-position: center;
      margin: auto;
      /*margin-left: 40px;*/

    }
  	.main-nav{
      width: 1160px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background: rgba(0,0,0,.3);
      margin-right: 60px;
  	}
    .main-nav li{
      line-height: 50px;

      font-weight: 700;
      font-size: 1.2rem;
      margin-top: 15px;
    }
    .main-nav div {
      margin:0;
      border:none;
      background: none;
      width: 180px;
    }
    
    .main-nav div:first-child{
      /*margin-right: 100px;*/
      /*margin-left: 60px;*/
    }
    .main-nav div:last-child{
      margin-right: 40px;
    }
    .menu-hover{
      display: flex;
    }

    .logo--mobile picture{
      width: 200px;

    }
    .logo--mobile--hover{
      display: none;
    }
    .download{
      background: none;
      margin-left: 80px;
    }
    .download h2{
      font-size: 3rem;
      font-weight: 400;
      font-style: normal;
      width: 250px;
    }
    .download button{
      margin-left: 50px;
    }
    .download a{
      margin-left: 60px;
    }
    .download span{
      margin-left: 40px;
      font-size: 1.1rem;
    }
    .wraper--logo{
      background: none;
    }
    .toggle-container{
      display: none;
    }

  }
