.nav {
	display: flex;
	flex-wrap: wrap;
  font-weight: 400;
  flex-direction: column;
}
.main-nav{
	list-style: none;
  background-color: #283645;
  margin:auto;
}
/*  a:hover{
  box-shadow: 0 0 2px Azure;
}*/


@media (min-width: 320px) {
  .main-nav{
    width: 280px;
  }
  .main-nav div{
      background-color: #283645;
      margin-left: -40px;
      width: 320px;
      border-bottom: 2px solid black;
    }
  	.main-nav li{
      margin: 0;
  		padding-top: 10px;
      padding-bottom: 10px;
  		text-align: center;
      font-size: 1.5rem;
  	}
    .main-nav a{
      color: white;
    }
    .main-nav a:hover{
      border-bottom: 2px solid white;
    }
  	.logo{
  		display: none;
  	}
    .logo--mobile{
      display: block;
      position: relative;
    }
    .logo--mobile picture{
      display: none;
      margin-left: 20px;
    }
    .logo--mobile li{
      text-align: left;
      margin-left: 10px;
    }

    .logo--mobile span{
      float: right;
      text-align: right;
    }

    .logo--mobile span:before,
    .logo--mobile span:after{
      content: "";
      position: absolute;
      right: 10px;
      top: 28px;
      width: 20px;
      height: 4px;
      background-color: white;
      border-radius: 1px;
      transform: rotate(45deg);
    }

    .logo--mobile span:after{
      transform: rotate(-45deg);
    }
    .logo--mobile--hover{
      display: block;
      position: relative;
    }
    .logo--mobile--hover div{
      background-color: #283645;
      margin-left: -40px;
      width: 320px;
      border-bottom: 2px solid black;
    }
    .logo--mobile--hover picture{
      display: none;
      margin-left: 20px;
    }
    .logo--mobile--hover li{
      text-align: left;
      margin-left: 10px;
    }

    .logo--mobile--hover span{
      float: right;
      text-align: right;
    }

    .logo--mobile--hover span:before,
    .logo--mobile--hover span:after{
      content: "";
      position: absolute;
      right: 10px;
      top: 28px;
      width: 20px;
      height: 4px;
      background-color: white;
      border-radius: 1px;
      transform: rotate(45deg);
    }

    .logo--mobile--hover span:after{
      transform: rotate(-45deg);
    }


    .download{
      background: #253341;
      width: 320px;
      margin:auto;
    }

    .download h2{
      display: none;
    }
    .download a:nth-of-type(1):hover{
      filter: drop-shadow(0 0 10px azure);
      transition-property: filter;
      transition-duration: 0.2s;
    }
    .download a:nth-of-type(2):hover{
      filter: drop-shadow(0 0 10px DarkGreen);
      transition-property: filter;
      transition-duration: 0.2s;
    }
    .download a:nth-of-type(3):hover{
      filter: drop-shadow(0 0 10px rgb(210,40,86));
      transition-property: filter;
      transition-duration: 0.2s;
    }

    .download span{
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      color: white;
    }
    .download a{
      margin-left: 40px;
    }
    
    .wraper--logo{
      background-color: #283645;
    }
    .download button{
      width:280px;
      height: 55px;
      color: white;
      border:2px solid white;
      border-radius: 25px; 
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .download button:hover{
      color: rgb(210,40,86);
      background-color: white;
    }
    .download button:hover{
      color: rgb(210,40,86);
      background-color: white;
    }
    .download button:active{
      color: rgb(210,40,86);
      background-color: white;
      opacity: 0.3;
    }
  }

@media (min-width: 660px) {
  	.main-nav{
      width: 620px;
  	}
  	.main-nav div{
  		background-color: #283645;
      width: 660px;
      border-bottom: 2px solid black;
      border-top: 1px solid grey;
      
  	}
    .main-nav div:nth-child(1){
      border-top: none;
    }
    .main-nav li{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 1.5rem;
    }
    .logo--desk{
      display: none;
    }
    .main-nav a{
      color: white;
    }
    .main-nav a:hover{
      border-bottom: 2px solid white;
    }
  	.logo--mobile picture{
      display: flex;
      margin-left: 20px;
    }
    .download{
      width:660px;
    }
    .logo--mobile{
      padding-bottom:30px;
    }
    .logo--mobile li{
      display:none;
    }
    .logo--mobile img{
      margin-top:25px;
    }
    .logo--mobile span:before,
    .logo--mobile span:after{
      width: 30px;
      height: 6px;
      border-radius: 4px;
      top:50px;
      right: 20px;s
    }
    .phone{
      display: none;
    }
    /*#283645*/
    .download{
      background-image: url('../../img/iphone-6 copy.png');
      background-repeat: no-repeat; 
      background-size: auto;
      background-position: center;
      min-height: 729px;
    }
    .download span{
      width: 320px;
    }
    .download h2{
      display: inline-block;
      color: white;
      font-weight: normal;
      width: 200px;
      text-align: center;
      margin-top: 100px;
      margin-left: 60px;
    }
    .download button{
      margin-left: 20px;
      margin-bottom: 40px;
    }
  }
   

@media (min-width: 1200px) {
    .nav{
      width: 1200px;
      background-image: url('../../img/iphone-6.png');
      background-repeat: no-repeat; 
      background-size: auto;
      background-position: center;
      margin: auto;
      /*margin-left: 40px;*/

    }
  	.main-nav{
      width: 1160px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background: rgba(0,0,0,.3);
      margin-right: 60px;
  	}
    .main-nav li{
      line-height: 50px;

      font-weight: 700;
      font-size: 1.2rem;
      margin-top: 15px;
    }
    .main-nav div {
      margin:0;
      border:none;
      background: none;
      width: 180px;
    }
    
    .main-nav div:first-child{
      margin-right: 100px;
      margin-left: 60px;
    }
    .main-nav div:last-child{
      margin-right: 40px;
    }

    .logo--mobile span{
      display: none;
    }
    .logo--mobile picture{

    }
    .logo--mobile--hover{
      display: none;
    }
    .download{
      background: none;
      margin-left: 80px;
    }
    .download h2{
      font-size: 3rem;
      font-weight: 400;
      font-style: normal;
      width: 250px;
    }
    .download button{
      margin-left: 50px;
    }
    .download a{
      margin-left: 60px;
    }
    .download span{
      margin-left: 40px;
      font-size: 1.1rem;
    }
    .wraper--logo{
      background: none;
    }

  }